@model dynamic
@{
    ViewBag.Title = "Save";
}

<h2>CatagorySetup</h2>

<div class="container-fluid">
    <div class="form-horizontal">
        <div class="row">
            <div>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.Label("GeneralCatagory", "General Catagory", new { @class = "control-label", @style = "text-align:center" })
                    </div>
                    @*@Html.LabelFor(m => m.Name, "Name", new { @class = "col-md-4 control-label", @style = "text-align:center" })*@
                    <div class="col-md-4">
                        <select class="form-control" id="StudentGender" name="StudentGender">
                            <option>Select GeneralCatagory</option>
                            <option>ABC</option>
                            <option>BCD</option>
                        </select>
                        @*@Html.TextBoxFor(m => m.Name, null, new { @class = "form-control", PlaceHolder = "Name", data_id = Model.Id })*@
                        @*@Html.TextBox("GeneralCatagoryTextBOX", null, new {@class = "form-control", placeholder = "GeneralCatagory", @style = "size: 59px"})*@
                    </div><div class="col-md-4"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.Label("Name", "Name", new { @class = "control-label", @style = "text-align:center" })
                    </div>
                    @*@Html.LabelFor(m => m.Name, "Name", new { @class = "col-md-4 control-label", @style = "text-align:center" })*@
                    <div class="col-md-8">
                        @Html.TextBox("NameTextBox", null, new { @class = "form-control", placeholder = "Name", @style = "size: 59px" })
                    </div>
                </div>
                @*this is first group*@

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.Label("Code", "Code", new { @class = "control-label", @style = "text-align:right" })
                    </div>
                    @*@Html.LabelFor(m => m.Name, "Name", new { @class = "col-md-4 control-label", @style = "text-align:center" })*@
                    <div class="col-md-8">
                        @Html.TextBox("CodeTextBox", null, new { @class = "form-control", placeholder = "Code", @style = "size: 59px" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.Label("Description", "Description", new { @class = "control-label", @style = "text-align:right" })
                    </div>
                    @*@Html.LabelFor(m => m.Name, "Name", new { @class = "col-md-4 control-label", @style = "text-align:center" })*@
                    <div class="col-md-8">
                        @Html.TextBox("CodeTextArea", null, new { @class = "form-control", placeholder = "Description", @style = "size: 59px" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <input class="btn btn-md btn-success btn-block" type="submit" value="Save">
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</div>
